$color-main: rgb(48, 48, 48);
$color-background: rgb(226, 226, 226);
$size-text: 12px;
$size-title: 1.5rem;
$size-title2: 1.3rem;

body {
    font-family: 'Quicksand', sans-serif;
    background-color: $color-background;
    color: $color-main;
}

h1, h2, h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}


h1 {
    font-size: $size-title;
}

h2 {
    font-size: $size-title2;
}

ul, li {
    list-style: none;
}
