$border-color: rgb(200,200,200);
$border-shadow-color: rgb(220,220,220);

.border-c {
    border: 0.5rem outset $border-color;
    box-shadow: 0 0 0 0.5rem $border-shadow-color;
    border-radius: 12px;
  }

